*{
    margin: 0;
    padding: 0;
    font-family: Helvatica ,sans-serif;
    box-sizing: border-box;
}   

h2{
    color: #23242A;
    font-weight: 700;
    font-size: 3rem;
}

h3{
    color: #23242A;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 25px;
  
}
h4{
    color: #23242A;
    font-weight: 600;
    font-size: 1.3rem;
}
.primary{
    background: #0E6FFF;
    border-radius: 8px;
    padding: 18px 41px;
    text-decoration: none;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
a{
    color: #0E6FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

/*----------hero---------------*/
.hero{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 70px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFF4D4;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__container{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

.navbar__item{
    text-decoration: none; 
}
.navbar__links{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: #B3ACA2;
}
.navbar__button {
    box-sizing: border-box;
    padding: 5px 5px;
    border: 1px solid #0E6FFF;
    border-radius: 4px;
    text-decoration: none;
   
}

.navbar__button a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: #0E6FFF;
}


.navbar__togle{
    background-color: black;
    height: 50px;
    width: 1px;
}

.description{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.left__box{
  
  
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.title{
    box-sizing: border-box;
    padding: 25px 0;
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 15%;
}
.title p{
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    color: #B3ACA2;
    margin-top: 0;
}
.title h1{
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    color: #23242A, 100%; }

.review{
    width: 55%;
    height: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: #23242A
    ;
}
.review p{
    font-size: 1.8rem;
    font-weight: 550 ;
}
.review__author{
    display: flex;
    align-items: center;
}
.review__author__info{
    margin-left: 30px;
}


.right__box{
    width: 45%;
    height: 700px;
}
.right__box img{
    width: 100%;
    height: 700px;
}
.slider{
    position: relative;
}
.slider__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    top: 85%;
    left: 5%;
    width: 20%;
    height: 15%;
}
.slider__icons i{
    box-sizing: border-box;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 8px;
    width: 45%;
    height: 50%;
    text-align: center;
    padding-top: 15%; 
}

.slider__icons i:hover{
    color: white;

    background-color: #0E6FFF;
    opacity: unset;
    cursor: pointer;
    transition: .3s ease-out;
}
.slider__loader{
    width: 100%;
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.one{
    background-color: #FFB19D; 
    width: 33.33%;
    height: 6px;
}
.two{
    width: 33.33%;
    height: 6px;
}
.three{
    width: 33.33%;
    height: 6px;
}

/*----------------------------- info ---------------------------*/
.info__section{
    background: linear-gradient(to bottom,   
    #FFFFFF 0%,
    #FFFFFF 25%,
    #D8F6FF 25%,
    #D8F6FF 0%);
    padding-bottom: 30px;
}
.info__first__container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   

}
.info__box__left{
    width: 30%;
}
.info__box__left img{
    width: 100%;
}
.info__box__right{
    width: 68%;
}
.info__box__right img{
    width: 100%;
    height: 30%;
}

.info__box__description{
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
.info__box__description p{
    font-size: 1.2rem;
    
}
.info__second__container{
    width: 50%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.second__box__description{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   padding: 30px;
}
.info__second__container img{
    width: 45%;
}
/**********  slider section *****/

.carousel__slider{
    text-align: center;
    padding-top: 7%;
}

.cards__container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.card{
    width: 22%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 25px;
    text-align: left; 
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
}

 .other{
  bottom: 20px;
  position: relative;
  float: left;
  margin-left: 50px;
  width: 30px;
  height: 30px;
}

.other:hover{
    color: blue;
    transition: ease-in .32s;
   
}
/**********  text section *****/

.text__section{
    border-radius: 30px;
    background-image: url('/images/Bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    margin: 40px auto;
    padding: 50px;
}
.text__container__one{
    width: 70%;
    padding-right: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-left: 60px;
}
.text__container__two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.text__box__small{
    width: 40%;
    margin: 40px;
    padding: 20px;
}
.icon__title{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    right: 50px;
   
}
.icon__title h3{
    padding-top: 10px;
}

.mini__slider{
   
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.mini__slider__title{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.larger__card{
    width: 30%;
    height: 300px;
    padding-bottom: 100px;
}