*{
    margin: 0;
    padding: 0;
    font-family: Helvatica ,sans-serif;
    box-sizing: border-box;
}   
body{
    position: relative;
}

h2{
    color: #23242A;
    font-weight: 700;
    font-size: 3rem;
}

h3{
    color: #23242A;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 25px;
  
}
h4{
    color: #23242A;
    font-weight: 600;
    font-size: 1.3rem;
}
.primary{
    background: #0E6FFF;
    border-radius: 8px;
    padding: 18px 41px;
    text-decoration: none;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
a{
    color: #0E6FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
p{
    font-size: 1.3rem;
    font-weight: 500;
}
/*----------hero---------------*/
.hero{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 70px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFF4D4;
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    
}
.navbar__container{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.navbar__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    flex-wrap: wrap;
}

.navbar__item{
    text-decoration: none; 
}
.navbar__links{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: #B3ACA2;
}
.navbar__button {
    box-sizing: border-box;
    padding: 5px 5px;
    border: 1px solid #0E6FFF;
    border-radius: 4px;
    text-decoration: none;
   
}

.navbar__button a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: #0E6FFF;
}


.navbar__togle{
   padding: 1px;
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.navbar__togle .bar{
    width: 100%;
    height: 3px;
    background-color: grey;
    
}
/***************** mobile navbar ***************************/
.mobile__navbar{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6dad0;
  overflow-y: hidden;
  transition: 0.5s;
  opacity: .95;
}
.mobile__navbar__menu{
    position: relative;
    top: 15%;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.mobile__menu__navbar__item{
    color:gray;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 600;
}
.close__btn {
    color: gray;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;

  }
  .close__btn:hover{
      color: black;
  }

  .mobile__navbar__menu li:hover{
      color: black;
  }
/***************** end of mobile navbar **********************/
.description{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left__box{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.title{
    box-sizing: border-box;
    padding-left: 22%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5%;
}


.title p{
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    color: #B3ACA2;
    margin-top: 0;
}
.title h1{
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    color: #23242A, 100%; }

.review{
    width: 55%;
    height: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: #23242A;
    margin-bottom: 70px;
}
.review p{
    font-size: 1.8rem;
    font-weight: 550 ;
    margin-bottom: 50px;
}
.review__author{
    display: flex;
    align-items: center;
}
.review__author__info{
    margin-left: 30px;
}


.right__box{
    width: 45%;
    min-width: 300px;
   
}
.right__box img{
    width: 100%;
}


.slider{
    position: relative;
}
.slider__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    top: 85%;
    left: 5%;
    width: 20%;
    height: 15%;
}
.slider__icons i{
    box-sizing: border-box;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 8px;
    width: 45%;
    height: 50%;
    text-align: center;
    padding-top: 15%; 
}

.slider__icons i:hover{
    color: white;

    background-color: #0E6FFF;
    opacity: unset;
    cursor: pointer;
    transition: .3s ease-out;
}
.slider__loader{
    width: 100%;
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loader{
    width: 33.33%;
    height: 6px;
}




/*----------------------------- info ---------------------------*/
.info__section{
    background: linear-gradient(to bottom,   
    #FFFFFF 0%,
    #FFFFFF 25%,
    #D8F6FF 25%,
    #D8F6FF 0%);
    padding-bottom: 10%;
}
.info__first__container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    padding-bottom: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;

}
.info__box__left{
    width: 30%;
    padding-top: 10%;
}


.info__box__left img{
    width: 100%;
}
.info__box__right{
    width: 68%;

}
.info__box__right img{
    width: 100%;
    height: 30%;
}

.info__box__description{
    margin:5% ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
   
    
}
.info__box__description p{
    font-size: 1.2rem;
    
}
.info__second__container{
    box-sizing: border-box;
    width: 70%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
   
}
.second__box__description{
   width:60%;
    display: flex;
    flex-direction: column;
    margin: 10%;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.info__second__container img{
    width: 300px;
    height: 300px;
}
/**********  slider section *****/

.carousel__slider{
    text-align: center;
    padding-top: 7%;
}

.cards__container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10%;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 25px;
    margin: 3% auto;
    text-align: left; 
    box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
}

 .other{
  bottom: 20px;
  position: relative;
  float: left;
  margin-left: 50px;
  width: 30px;
  height: 30px;
}

.other:hover{
    color: blue;
    transition: ease-in .32s;
    cursor: pointer;
   
}
/**********  text section ******************/

.text__section{
    border-radius: 30px;
    background-image: url('/images/Bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: 5% auto;
    padding: 5%;
}
.text__container__one{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5%;
  
}
.text__container__two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.text__box__small{
    width: 40%;
    margin: 40px;
    padding: 20px;
}
.icon__title{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 75px;
}


.mini__slider{
   
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.mini__slider__title{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.cards__container__large{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
   margin: 10% auto     ;
}
.larger__card{
    width: 300px;
    height: 300px;
    padding-bottom: 100px;
  
}

/***************** image cards****************/

.image__cards__section{
    text-align: center;
    line-height: 80px;
    margin-bottom: 10%;
}

.image__cards__container{
      width: 80%;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image__card{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image__card img{
    width: 100%;
}

.image__card h3{
   padding-top: 10%;
   margin-bottom: 0;
}

/****** review section ****************/

.review__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.simple__card{
    width:80%;
    margin: 100px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7%;
    background-image: url('../images/Group\ 504.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.simple__card__text{
    width: 60%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/****** footer section ****************/
.footer{
    background-color: #23242A;
    color: gray;
  
}
.footer__container{
    padding: 5%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 0;
    height: 80%;
}
.footer__logo{
    width: 40%;
}
.footer__logo img{
   z-index: 1;
}

.footer__nav{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  
}

.main__menu{
  list-style: none;
  color: white;
  margin-bottom: 20%;
}

.menu__title{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 550;
}
.copyrights{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: grey;
}

@media screen and (max-width:900px){
    .info__box__right{
            width: 100%;
    }
    .info__box__left{
        width: 100%;
    }
    .info__box__left img{
        width: 70%;
        margin: 15%;
    }
    .info__box__description h2{
        font-size: 2.5rem;
    }

    .info__second__container{
        flex-wrap: wrap;
    }
    .second__box__description{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .text__box__small{
        width: 100%;
    }
    .title h1{
        font-size: 3rem;
    
    }
   
}

@media screen and (max-width:700px){
    .left__box{
        width: 100%;
    }
    .right__box{
       padding-top: 40%;
        margin: auto;
        width: 70%;
    }
    .info__box__description h2{
        font-size: 2rem;
    }
    .info__box__description {
       margin: auto;
       padding: auto;
    }
    .info__box__left{
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .info__box__right{
        width: 100%;

    }
    .info__first__container{
        width:100%;
    }
    .navbar__menu{
        display: none;
    }
    .navbar__togle{
        display: flex;
    }
}